*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
      radial-gradient(circle at top,#38bdf833,transparent 40%),
      linear-gradient(135deg,#020617,#0f172a);
    color:white;
}

.container{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(20px);
    padding:30px 40px;
    border-radius:20px;
    box-shadow:0 0 40px rgba(56,189,248,0.3);
    text-align:center;
}

h1{
    font-size:2.5rem;
    margin-bottom:10px;
    color:#38bdf8;
    text-shadow:0 0 15px #38bdf8;
}

#turn{
    margin-bottom:20px;
    font-size:1.1rem;
    color:#cbd5f5;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,110px);
    grid-gap:15px;
    justify-content:center;
    margin-bottom:25px;
}

.cell{
    width:110px;
    height:110px;
    background:rgba(255,255,255,0.1);
    border-radius:15px;
    font-size:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:0.3s;
}

.cell:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #38bdf8;
}

.cell.X{
    color:#38bdf8;
    text-shadow:0 0 15px #38bdf8;
}

.cell.O{
    color:#22c55e;
    text-shadow:0 0 15px #22c55e;
}

.cell.win{
    background:linear-gradient(45deg,#38bdf8,#22c55e);
    color:#020617 !important;
    box-shadow:0 0 25px #22c55e;
}

.buttons button{
    padding:12px 30px;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
    background:linear-gradient(45deg,#f43f5e,#fb7185);
    color:white;
    box-shadow:0 0 20px rgba(244,63,94,0.6);
    transition:0.3s;
}

.buttons button:hover{
    transform:scale(1.1);
    box-shadow:0 0 30px rgba(244,63,94,0.9);
}