@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
      radial-gradient(circle at top,#38bdf833,transparent 40%),
      linear-gradient(135deg,#020617,#0f172a);
    color:#ffffff;
}

/* MAIN APP */
.app{
    width:400px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(25px);
    border-radius:30px;
    padding:40px 30px;
    box-shadow:0 40px 90px rgba(0,0,0,0.7);
    text-align:center;
}

/* TITLE */
h1{
    font-size:26px;
    letter-spacing:4px;
    margin-bottom:25px;
    background:linear-gradient(45deg,#38bdf8,#22c55e);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* TIME DISPLAY */
.display{
    font-size:48px;
    font-weight:600;
    margin-bottom:30px;
    padding:20px;
    border-radius:20px;
    background:rgba(0,0,0,0.35);
    box-shadow:inset 0 0 20px rgba(56,189,248,0.3);
}

/* BUTTONS */
.controls{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.controls button{
    padding:14px;
    border:none;
    border-radius:50px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    background:linear-gradient(45deg,#38bdf8,#22c55e);
    color:#020617;
    transition:0.3s;
}

.controls button:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 40px rgba(56,189,248,0.6);
}

/* RESET BUTTON */
#reset{
    grid-column:span 2;
    background:linear-gradient(45deg,#f43f5e,#fb7185);
    color:#fff;
}

/* LAPS */
.laps{
    margin-top:30px;
    text-align:left;
}

.laps h2{
    font-size:18px;
    margin-bottom:10px;
    color:#cbd5f5;
}

.laps ul{
    max-height:150px;
    overflow-y:auto;
}

.laps li{
    list-style:none;
    padding:10px;
    margin-bottom:8px;
    border-radius:10px;
    background:rgba(255,255,255,0.12);
    font-size:14px;
}